/* 재고관리 */
.inventory_management_header {
    font-size: 30px;
    font-weight: bold;
}

/* 재고관리목록, 상세 */
.inventory_management_list_header,
.inventory_management_detail_header {
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}

/* 검색창과 날짜조회 나란히 두기 & 상단여백 */
.search_buttonset {
    display: flex;
    padding-top: 5px;
}

.search_buttonset2 {
    margin-left: 30px;
}

/* 테이블이랑 위에 여백 */
.inventory_list_table_container,
.inventory_detail_table_container {
    padding-top: 5px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* 테이블 넓이 */
.inventory_list_table,
.inventory_detail_table {
    width: 97%;
}





/* 중앙구분선 */
.center_line {
    /* 상단에 여백 */
    margin-top: 30px;
    border-top: 1px solid gray;
}